body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h1 {
    margin: 40px 0;
  }
}

.question_box{
  display: flex;
  margin-bottom: 15px;
}

.user-data-box{
  margin-bottom: 30px;
}




